services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: app-dev
    restart: unless-stopped
    user: node
    depends_on:
      - db
      - redis
    volumes:
      - ../:/workspaces/work-logbook
      - node_modules:/workspaces/work-logbook/node_modules
    ports:
      - '3000:3000'
    tty: true
    stdin_open: true
    command: sleep infinity
  db:
    image: postgres
    restart: always
    command: '-d 1'
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: local
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - 6379:6379
    volumes:
      - redisdata:/data
    command: redis-server --appendonly yes
  neon-proxy:
    image: ghcr.io/timowilhelm/local-neon-http-proxy:main
    environment:
      - PG_CONNECTION_STRING=postgres://root:mysecretpassword@db:5432/local
    ports:
      - '4444:4444'
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
  redisdata:
  node_modules:
